%h1.title Sign your certificate
.content
  %ol
    %li
      Create
      %strong Certificate Signing Request
      %blockquote openssl req -new -newkey rsa:2048 -subj "/C=UA/O=My Org/CN=My name" -keyout myprivate.key -out mysigningrequest.csr
    %li
      %input#csr_uploader{type: 'file', style:"display:none"}
      %button.button.is-small.is-tomato#csr_button Upload
      your #{content_tag :strong, 'Certificate Signing Request'}. This will downdoad your new certificate, signed by #{content_tag :strong, 'Intermitiate CA'}
    %li
      Now you can verificate your ceritificate through
      = presenter.cert_link 'Intermitiate', 'subca.crt'
      (in most cases there a whole chain of them) and
      = presenter.cert_link 'Root', 'root.crt'
    %blockquote openssl verify -CAfile root.crt -CApath <span class='myserial'>mycert</span>.crt subca.crt root.crt
    %p And also you can check #{content_tag :strong, 'OCSP status'} (you need #{presenter.cert_link('OCSP ceritificate', 'ocsp.crt')})
    %blockquote
      cat subca.crt root.crt > sub-and-root.crt &&
      openssl ocsp -issuer subca.crt -CAfile sub-and-root.crt -text -verify_other
      ocsp.crt -cert <span class='myserial'>mycert</span>.crt -url #{OcspHelpers.ocsp_domain} -header "HOST=#{OcspHelpers.ocsp_host}"

%h1.title Listing certificates

%table.table.is-striped
  %thead
    %tr
      %th Serial
      %th Applicant
      %th Issuance date
      %th

  %tbody#certificates
    - presenter.certificates.each do |certificate|
      %tr
        %td= certificate.serial
        %td= certificate.name
        %td= certificate.date
        %td= certificate.revoke_button
